
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap');
.App {
  text-align: center;
}

body, html {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .selected {
  text-decoration: underline;
  text-decoration-color: white;
} */


.avatar-box {
  padding-right: 3em;
  margin-top: 5em;
  padding-left: 5em;
}

.text-box {
  margin: 0 auto;
  width: 50%;
  word-wrap: normal;
  padding-top: 2em;
  text-align: justify;
  line-height: 1.5em;
}

.text-box h3{
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
}

.tech-img {
  width: 50px;
  height: 50px;
  border-bottom: 2px solid white;
  padding-bottom: .5em;
}

.card {
  width: 25%;
  word-wrap: break-word;
  padding: 1em;
  margin: 4em auto;
  text-align: center;
  background: linear-gradient(to left bottom, #0a004f, #191d77, #233ba3, #255ad0, #167bff);
  color: white;
  border-radius: 25px;
}

.bigGear {
  animation: big-gear-spin infinite 20s linear;
}

.gear {
  animation: gear-spin infinite 20s linear;
}

@keyframes gear-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes big-gear-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}