
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap');
.App {
  text-align: center;
}

body, html {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

